/* Code couleur
bleu : 		#0176BC
orange : 	#F38A37
marron :	#D98D51
gris :		#F5F4F2
bleu-clair:	#99CBEC
*/
#header{
	position: relative;
}
#footer{
	margin: 10px 10px 10px 0;
}
body{
	background: #fff url(../images/coin-bas-droite-grand.jpg) no-repeat right bottom;
}
.message-container{
	position: absolute;
	margin-left: 250px;
	margin-top: 5px;
	z-index: 2;
}
.message{
	margin: 5px 0;
}
div#main{
	margin: 0 auto;
	padding: 0;
}
h1, legend{
	font-size: 2em;
	padding: 0 0 0 10px;
	margin: 0;
	font-weight: bold;	
}
a{
	color : #0176BC;
	text-decoration: none;
}
a:hover{
	color : #F38A37;
	text-decoration: underline;
}
a:ACTIVE{
	color : #D98D51;
	text-decoration: underline;
}
span.inline.ui-icon{
	display: inline-block;
	margin: 0 1px;
}
ul{
	padding: 0 10px;
}
ul li{
	list-style-type: none;
}
/* ------------------------------------------------------------------------------------------------ 
 * Menu
   ------------------------------------------------------------------------------------------------ */
#navigation{
	position: absolute;
	width:245px;
	left : 250px;
	top:69px;
}
.ui-menu {
	width: 225px;
}
ul#menu {
	padding: 0;
	z-index: 1;
}
#boutonsActions{
	position: absolute;
	left : 500px;
	top:69px;
}
#boutonsActions span.ui-button-text{
	padding: .8em 1em;
	height: 1.2em;
}
/* ------------------------------------------------------------------------------------------------ 
 * Formulaire connexion
   ------------------------------------------------------------------------------------------------ */
#connexion{
	position: absolute;
	right: 0;
	width: 350px;
	padding: 5px;
	text-align: right;
}
#connexion.connecte{
	width: 245px;
}
#connexion label{
	margin:0;
}
/* ------------------------------------------------------------------------------------------------ 
 * Formulaires
   ------------------------------------------------------------------------------------------------ */
div#main form label{
	width: 300px;
	text-align: right;
	vertical-align: baseline;
}
div#main form button{
	margin: 15px 0 15px 300px;
}
div#main form input, div#main form select, div#main form textarea{
	width: 300px;
}
div#main form label.left{
	text-align: left;
}
div#main form input[type=checkbox]{
	width: initial;
}
.required{
	color: red;
}
ul.record_actions{
	padding: 0;
}
ul.record_actions li{
	list-style-type: none;
}
/* ------------------------------------------------------------------------------------------------ 
 * jqGrid
   ------------------------------------------------------------------------------------------------ */
div#pagination div.ui-paging-info{
	padding-right: 15px;
}
table.ui-search-table{
	margin-bottom: 0;
}
td.ui-search-input, td.ui-search-clear, td.ui-pg-button, td#pagination_left, td#pagination_center, td#pagination_right, .ui-pg-table, .ui-pg-table td{
	border: none;
}