{% extends "PenderieDefaultBundle::layout.html.twig" %}

{% block title 'Traitement opérateur' %}

{% block content -%}
    <h1>Traitement opérateur</h1>
    {{ form(form) }}

        <ul class="record_actions">
    <li>
    </li>
</ul>
{% endblock %}

{% block javascripts %} 
<script language="javascript">
$(function() {
	$('#siplec_cdbundle_traitement_numDossier').formatter(format_num_dossier);
	$('#siplec_cdbundle_traitement_numDossier').focus();
	$(document).keypress(function(e) {
	  if(e.which == 13) {
	    // Si on detecte la touche entrée via la douchette par exemple alors valide le formulaire
		$('form[name="siplec_cdbundle_traitement"]').submit();
	  };
	});
});
</script>
{% endblock %}