{% extends "PenderieDefaultBundle::layout.html.twig" %}

{% block title 'Création utilisateur' %} 

{% block content %}
<h1>Création d'un nouvel utilisateur</h1>
{% include "SiplecUserBundle:Registration:register_content.html.twig" %}
{% endblock content %}
