{% extends "PenderieDefaultBundle::layout.html.twig" %}

{% block title %}Import dossiers et archive{% endblock title %}

{% block content %}
    <h1>Import dossiers et archive</h1>
    {{ form(form) }}
{% endblock content %}
